.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 600px;
  padding: 20px;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  padding: 10px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #ffffff;
  /* height: 40px; */
  /* display: flex; */
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
  display: block;
  margin-bottom: 10px;
}

.Body {
  min-height: 70vh;
  display: flex;
  flex: none;
  align-items: center;
  margin-top: 25px;
  flex-direction: column;
}

.Text {
  margin: 20px;
  padding: 20px;
  background-color: #ececec;
}

.App-link {
  color: #61dafb;
}

.btn {
  background: #ededed;
  padding: 10px 15px;
  border: none;
  outline: none;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 15px;

  opacity: 1;
  transition: opacity 300ms ease;
}

.information {
  font-size: 15px;
  margin: auto;
}
a {
    text-decoration: /* OPTIMIZE:  */;
    color: #4d2a10;
}

hr {
  border-width: 0.5px;
  color: #4d2a10;
}

.btn-positive {
  background: 'green'
}

.touched {
  opacity: 0.5;
}

.Question {
  font-weight: bold;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

select {
  width: 150px;
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}
