.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 600px;
  padding: 20px;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  padding: 10px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #ffffff;
  /* height: 40px; */
  /* display: flex; */
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
  display: block;
  margin-bottom: 10px;
}

.Body {
  min-height: 70vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Text {
  margin: 20px;
  padding: 20px;
  background-color: #ececec;
}

.App-link {
  color: #61dafb;
}

.btn {
  background: #ededed;
  padding: 10px 15px;
  border: none;
  outline: none;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 15px;

  opacity: 1;
  transition: opacity 300ms ease;
}

.information {
  font-size: 15px;
  margin: auto;
}
a {
    text-decoration: /* OPTIMIZE:  */;
    color: #4d2a10;
}

hr {
  border-width: 0.5px;
  color: #4d2a10;
}

.btn-positive {
  background: 'green'
}

.touched {
  opacity: 0.5;
}

.Question {
  font-weight: bold;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
